// Couleurs utilisées
$color-principal: #ff6060;
$bgColor: #f6f6f6;
$bgColor-footer: black;
$star-color: #e3e3e3;
$txt-white: white;
$txt-black: black;

// Responsive
$small: "screen and (max-width: 360px)";
$mobile: "screen and (max-width: 768px)";
$medium: "screen and (max-width: 1024px)";
