.loadingAnimation {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  .container1 {
    width: 140px;
    height: 140px;
    position: absolute;

    .cercle {
      transform: translateY(-50%);
      position: absolute;
      background-color: $color-principal;
      left: 0;
      top: 50%;
      @for $i from 1 through 13 {
        &:nth-child(#{$i}) {
          animation: bouger .8s linear infinite reverse;  
          animation-delay: ($i - 1) * 0.15s;
        }
      }
    }
  }

  .container2 {
    width: 80px;
    height: 80px;
    position: absolute;

    .cercle {
      transform: translateY(-50%);
      position: absolute;
      background-color: $bgColor-footer;
      left: 0%;
      top: 50%;
      @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
          animation: bouger .8s linear infinite;
          animation-delay: ($i - 1) * 0.25s;
        }
      }
    }
  }

  .container3 {
    width: 20px;
    height: 20px;
    position: absolute;

    .cercle {
      position: absolute;
      background-color: $color-principal;
      animation: clignoter .8s linear infinite;
    }
  }
  .cercle {
    width: 18px;
    height: 18px;
    border-radius: 9px;
  }
}
